.accordion {
    margin: .5rem 0;
    font-family: $font-family-georgia;
    &__item {
        border-bottom: 1px solid #e7e7e7;
    }
    &__toggle {
        padding: 1rem 0;
        width: 100%;
        position: relative;
        font-size: 1.375rem;
        border: 0;
        background: rgba(0,0,0,0);
        text-align: left;
        &:active,
        &:focus {
            outline: none;
            &::after {
                outline: 1px solid $color-accent;
            }
        }
        &::after {
            content: '\25BC';
            position: absolute;
            right: 0;
            top: 50%;
            color: $color-accent;
            font-size: 16px;
            transform: translateY(-50%) rotate(180deg);
        }
        &.collapsed {
            &::after {
                transform: translateY(-50%) rotate(0);
            }
        }
    }

    &__body {
        padding-bottom: 1rem;
    }
}

.collapsing {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height 0.35s ease;
}