.alert {
    padding-left: 25px;
    font-size: 1.125rem;
    font-family: $font-family-ptserif;
    position: relative;

    &::before {
        content: "";
        width: 5px;
        position: absolute;
        left: 0;
        top: 5px;
        bottom: 0;
        background-color: $color-accent;
    }
}