.breadcrumb {
    font-size: 0.9375rem;
    & > li:not(:last-child):after {
        color: $color-accent;
        content: "\2022 ";
        padding: 0 .875rem;
    }

    li {
        margin: .1rem 0;
        line-height: 1.3;
    }

    a {
        text-decoration: none;
        color: #7e7e7e;
        font-weight: normal;
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
        justify-content: center;
    }
}