.btn-search {
    border: 0;
    @include sprite('search');

    &:hover {
        @include sprite('search-hover');
    }
}

.btn {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10px 14px;
    max-width: 100%;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: $font-family-georgia;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.35s;
    
    &-accent {
        color: #1e1e1e;
        background-color: $color-accent;
    }
    
    &-default {
        color: #1e1e1e;
        background-color: #e5e6e7;

        &:hover,
        &.active {
            background-color: $color-accent;
        }
    }

    &-sm {
        height: 40px;
    }
    
    &-lg {
        height: 54px;
        padding: 6px 22px;
        font-size: 1.25rem;
        // min-width: 240px;
        padding-left: 42px;
        padding-right: 42px;
    }
}

.btn-group {
    margin: 2.75rem 0;
    @include media-breakpoint-down(sm) {
        .btn {
            width: 100%;
            margin: 0.5625rem 0;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
        &--center {
            justify-content: center;
        }
        .btn:not(:last-child) {
            margin-right: 20px;
        }
    }
}