.business-card {
    padding: 1rem 0.5rem;
    font-size: 0.9375rem;
    font-family: $font-family-georgia;
    background-color: #f4f5f5;
    display: flex;
    align-items: flex-start;
    &__photo {
        border-radius: 50%;
    }

    &__name {
        font-size: 1.25rem;
        margin-bottom: .2rem;
    }

    &__body {
        padding-left: 1rem;
        padding-top: 0.6rem;
    }

    &__footer {
        margin-top: 1rem;
    }
}