.contacts {
	&__attr {
		font-size: 1.125rem;
		color: #7e7e7e;
	}
	&__val {
		font-size: 1.125rem;
		display: block;
		margin-bottom: 0.6rem;
		font-family: $font-family-ptserif;
	}

	&__call-btn {
		width: 85px;
		height: 85px;
		display: block;
		vertical-align: middle;
		position: relative;
		border-radius: 50%;
		background-color: $color-accent;
		box-shadow: 0 0 0 10px #fff;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include sprite("icon-phone-sm");
		}
	}

	&__footer {
		margin-top: 1rem;
	}
	
	@include media-breakpoint-up(xl) {
		&__attr,
		&__val {
			margin-bottom: 1.2rem;
		}
	}
}