.custom-select {
	position: relative;
	display: block;
	width: 100%;
	height: 42px;
	line-height: 1.6;
	background: #fff;
	overflow: hidden;
	border-radius: 0;
	border: 1px solid #e5e6e7;
	font-size: 1.125rem;
	font-family: $font-family-georgia;

	select {
		// Reset
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: #fff;
		background-image: none;

		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0.575rem 1.125rem;
		color: $body-font-color;
		cursor: pointer;

		&::-ms-expand {
			display: none;
        }
        
        &.focus {
            & + span {
                transform: rotate(180deg);
            }
        }
	}

	span {
		vertical-align: middle;
		height: 44px;
		line-height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 12px;
		background: #fff;
		pointer-events: none;
		font-size: 16px;
        color: $color-accent;
        
        &::before {
            content: '\25BC';
            display: inline-block;
            vertical-align: middle;
        }
	}
}