.dropdown-menu {
    z-index: 100;
    min-width: 25px;
    &__toggle {
        border: 0;
        position: relative;
        z-index: 2;
        @include sprite('menu-toggle');
    }

    &__list {
        padding: 50px 15px 20px;
        margin: 0;
        list-style: none;
        right: -15px;
        
        li {
            &:not(:last-child) {
                border-bottom: 1px solid #fff;
            }
        }

        a {
            padding: 8px 0;
            display: block;
            white-space: nowrap;
            color: #000;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom-color: $color-accent;
            }
        }
    }

    &__list {
        position: absolute;
        z-index: 1;
        background-color: #f4f5f5;
        border-radius: 5px;
        transition: opacity .6s;
        visibility: hidden;
        opacity: 0;
    }

    &.opened {
        z-index: 101;
        .dropdown-menu__toggle {
            @include sprite('dropdown-menu-close');
        }

        .dropdown-menu__list,
        .dropdown-menu__search {
            visibility: visible;
            opacity: 1;
        }
    }
    
    @include media-breakpoint-down(sm) {
        &__list {
            top: 40px;
            a {
                font-size: 15px;
            }
        }

        &__search {
            padding: 15px;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 1;
            background-color: $color-accent;
            border-radius: 5px;
            transition: opacity .6s;
        }

        &__search,
        &__list {
            left: -15px;
            right: -15px;
        }
    }
    
    @include media-breakpoint-up(md) {
        position: relative;
        &__list {
            top: -15px;
            a {
                font-size: 18px;
            }
        }
    }
}