.filter {
    margin-bottom: 1.125rem;
    background-color: #f4f4f4;
    &__label {
        font-size:  1.125rem;
        color: #7e7e7e;
    }
    
    &__num,
    &__input {
        flex-grow: 1;
    }
    
    @include media-breakpoint-down(sm) {
        padding: 20px;
        &__label,
        &__num,
        &__input {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
        &__label {
            &:not(:last-child) {
                margin-bottom: 0.625rem;
            }
        }
    }
    
    @include media-breakpoint-up(md) {
        padding: 25px 30px;
        &__row {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &__num {
            max-width: 130px;
        }

        &__label,
        &__num,
        &__input {
            &:not(:last-child) {
                margin-right: 18px;
            }
        }
    }
}