.flat-brief {
    margin-bottom: 20px;
    [class^=col-] {
        padding-left: 8px;
        padding-right: 8px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    &__gallery {
        margin: 0.5rem auto;
        width: 290px;
        overflow: hidden;
        position: relative;

        .flat-gallery-brief {
            margin: 0 auto;
            max-width: 250px;
            overflow: visible;
        }
    }

    &__gallery-arrow {
        padding: 0;
        border: 0;
        display: inline-block;
        background: rgba($color: #fff, $alpha: 0);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;
        box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.1) !important;

        &.next {
            @include sprite('swiper-btn-next');
            right: 12px;
        }
        &.prev {
            @include sprite('swiper-btn-prev');
            left: 12px;
        }
    }

    &__price {
        margin: 1rem 0 0;
        font-size: 1.5rem;
        font-family: $font-family-ptserif;
    }

    .attr-val-table {
        margin: 1rem 0 0;
    }

    &__actions {
        margin-top: 1.5rem;
    }

    @media screen and (min-width: 365px) and (max-width: 768px) {
        &__gallery {
            width: 334px;
            .flat-gallery-brief {
                max-width: 294px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: 1rem 0.625rem;
        padding-left: 1rem;
        border: 2px solid #f4f5f5;
        &__gallery {
            margin: 0 auto;
            width: 350px;
            .flat-gallery-brief {
                max-width: 310px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding: 1.8rem;
        &__gallery {
            width: 435px;
            .flat-gallery-brief {
                max-width: 395px;
            }
        }
    }

    @media screen and (min-width: 1520px) {
        &__gallery {
            width: 550px;
            .flat-gallery-brief {
                max-width: 490px;
            }
        }
    }
}