.flat-gallery-small {
    margin: 0 auto 1.2rem;
    max-width: 250px;
    overflow: visible;
	&__item {
		img {
			max-width: 100%;
		}
	}

	&-overflow {
        position: relative;
        max-width: 290px;
        margin: 0 auto;
        overflow: hidden;
	}

	&__arrow {
        padding: 0;
        border: 0;
        display: inline-block;
        background: rgba($color: #fff, $alpha: 0);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;

        &.next {
            @include sprite('swiper-btn-next');
            right: 12px;
        }
        &.prev {
            @include sprite('swiper-btn-prev');
            left: 12px;
        }
    }
    @media screen and (min-width: 365px) and (max-width: 768px) {
        max-width: 284px;

        &-overflow {
            max-width: 334px;
        }
    }
    @include media-breakpoint-up(md) {
        max-width: 90%;

        &-overflow {
            max-width: 480px;
        }
    }
}

.flat-gallery-small-thumbs {
	margin-bottom: 0.6rem;
	&__item {
		img {
			max-width: 100%;
		}
	}
}