.flat-data {
    font-family: $font-family-ptserif;
    .business-card {
        margin-bottom: 1.5rem;
    }
    &__price {
        margin: 1.2rem 0 0.8rem;
        font-size: 1.5rem;
        &-sm {
            margin: 0.5rem 0;
            font-size: 1.125rem;
        }
    }
    &__title {
        margin-bottom: 0.2rem;
        font-size: 1.375rem;
        font-family: $font-family-ptserif;
    }
    &__tel {
        font-size: 1.25rem;
    }
    &__id {
        margin-bottom: 1.5rem;
        font-size: 1.375rem;
    }
    &__360 {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__map-show {
        margin-top: 1.5rem;
        display: inline-block;
    }

    &__gallery {
        margin: 2.5rem 0 .5rem;
    }

    &__col {
        a + a {
            margin-left: 2rem;
        }
    }

    &__btn-group {
        margin-bottom: 1.5rem;
        & > div:not(:last-child) {
            margin-bottom: 10px;

        }
        .btn {
            min-width: 254px;
        }
    }

    &__footer {
        margin-top: 1rem;
    }

    @include media-breakpoint-down(sm) {
        &__description,
        &__gallery,
        &__360 {
            order: 1;
        }

        &__description {
            margin-top: 1rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &__360 {
            order: 9;
            margin-bottom: 1.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &__details {
            order: 10;
        }
    }
    
    @include media-breakpoint-up(xl) {
        &__gallery,
        &__details {
            margin: 2rem 0;
        }

        &__360 {
            align-self: center;
        }
    }
}