.flat-gallery {
    .flat-gallery-swiper {
        margin: 0 auto;
        overflow: visible;
    }
    
    &__item {
        text-align: center;
        margin: 0 auto;
        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &__arrow {
        padding: 0;
        border: 0;
        display: inline-block;
        background: rgba($color: #fff, $alpha: 0);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;
        box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.1) !important;
        
        &.next {
            @include sprite('swiper-btn-next');
            right: 12px;
        }
        &.prev {
            @include sprite('swiper-btn-prev');
            left: 12px;
        }
    }
    .flat-gallery-swiper {
        max-width: 250px;
    }
    @include media-breakpoint-down(md) {
        &__arrow {
            &.next {
                right: 6px;
            }
            &.prev {
                left: 6px;
            }
        }
    }
    @media screen and (min-width: 365px) and (max-width: 768px) {
        .flat-gallery-swiper {
            max-width: 284px;
        }
    }
    @include media-breakpoint-up(md) {
        .flat-gallery-swiper {
            max-width: calc(100% - 92px);
        }
    }
    @media screen and (min-width: 1520px) {
        .flat-gallery-swiper {
            max-width: 90%;
        }
    }
}

.flat-gallery-overflow {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 290px;
    margin: 0 auto;

    @media screen and (min-width: 365px) and (max-width: 768px) {
        max-width: 334px;
    }
    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    @media screen and (min-width: 1520px) {
        max-width: 850px;
    }
}