[class^=icon] {
    padding: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
}
.icon-metro-red {
    @include sprite('metro-red');
}
.icon-location {
    @include sprite('destination-mark');
}
.icon-thumbs-up {
    @include sprite('thumbs-up-sm');
    
    @include media-breakpoint-up(lg) {
        @include sprite('thumbs-up');
    }
}
.asterisk {
    color: #ff6917;
}
.icon-thumbs-down {
    @include sprite('thumbs-down-sm');
    
    @include media-breakpoint-up(lg) {
        @include sprite('thumbs-down');
    }
}