.inline-menu {
    margin: 1.2rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
        margin-bottom: 0.4rem;
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 1.8rem;
        }

        &.active {
            .inline-menu__item {
                color: $color-accent;
            }
        }
    }

    &__item {
        font-size: 1.125rem;
        transition: 0.2s;
        &:hover {
            color: $color-accent;
        }
    }
}