.input-file {
    cursor: pointer;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-default;
    input[type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }
    label {
        cursor: pointer;
        display: block;
        margin: 0;
        color: inherit;
    }
}

.input-file-link {
    overflow: hidden;
    position: relative;
    input[type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        &:hover {
            border-bottom-color: rgba(0,0,0,0);
            & + label {
                border-bottom-color: rgba(0,0,0,0);
            }
        }
    }
    label {
        display: inline-block;
        border-bottom: 1px dotted #000;
        margin: 0;
        color: inherit;
        &:hover {
            border-bottom-color: rgba(0,0,0,0);
        }
    }
}
