.input-check {
    padding: 6.5px 0;
    font-size: 1rem;
    font-family: $font-family-georgia;
    label {
        padding-left: 34px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        margin-top: 2px;
        &::before {
            margin-top: -2px;
            margin-left: -34px;
            margin-right: 4px;
            content: "";
            display: inline-block;
            vertical-align: middle;
            flex-shrink: 0;
            width: 29px;
            height: 29px;
            border: 1px solid #e5e6e7;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            transition: .3s;
        }
    }
    input {
        width: 1px;
		height: 0;
		position: absolute;
		overflow: hidden;
        line-height: 0;
        
        &:checked + label {
            &::before {
                background-image: url('../images/input-check.png');
            }
        }
    }

    @media screen and (min-width: 1520px) {
        font-size: 1.125rem;
        label {
            padding-left: 34px;
            &::before {
                margin-right: 8px;
                margin-left: -34px;
            }
        }
    }
}