.invoice {
    &__title {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }

    &__data {
        padding: 30px 0;
        margin-bottom: 30px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }

    &__table {
        width: 100%;
        table-layout: fixed;

        td {
            padding: 6px 4px;
            &:first-child {
                text-align: right;
            }
        }
    }

    &__form {
        padding-top: 10px;

        [class^=col] {
            padding-left: 8px;
            padding-right: 8px;
        }

        .row {
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    &__label {
        display: block;
        font-size: 1.125rem;
        font-family: $font-family-ptserif;
        color: #020202;
    }
    
    &__link {
        font-size: 0.875rem;
        font-family: $font-family-ptserif;
        color: #7e7e7e;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(md) {
        &__form {
            padding-left: 30px;
            padding-right: 30px;
            .form-group {
                margin-bottom: 18px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__form {
            .form-control {
                margin-top: 8px;
            }
        }
    }
}