.link-card {
    min-height: 190px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: $body-font-color;
    &::before{
        content: "";
        display: block;
        height: 11px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-accent;
        z-index: 10;
    }
    
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        background-image: radial-gradient(circle at bottom left, rgba(255,255,255,.9) 20%, rgba(255,255,255,0) 80%);
        background-color: rgba(255,255,255,.2);
        z-index: 2;
        transition: .3s;
    }
    
    &__content {
        padding: 40px 24px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: $color-accent;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        width: 100%;
        font-weight: normal;
        font-size: 1.5rem;
        margin: 12px 0 0;
        transition: color .3s;
    }

    &__img {
        display: block;
        width: 100%;
        min-width: 370px;
        transition: .3s;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    &:hover,
    &:active {
        .link-card__img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: none ;
            zoom:1;
            -webkit-filter: grayscale(0%);
        }

        .link-card__title {
            color: #fff;
        }

        &::after {
            opacity: 0;
        }
    }

    &--small {
        min-height: 150px;
        .link-card__title {
            font-size: 1.5rem;
        }
        .link-card__content {
            padding: 24px 20px 34px;
        }
        .link-card__img {
            min-width: 450px;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 240px;
        .link-card__img {
            min-width: 450px;
        }
        &__img {
            min-width: 240px;
        }

        &--small {
            min-height: 150px;
            .link-card__content {
                padding: 24px 34px 34px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include media-breakpoint-down(lg) {
        &__icon {
            &--rent-to {
                &::before {
                    @include sprite("rent-to-sm");
                }
            }
            &--rent-from {
                &::before {
                    @include sprite("rent-from-sm");
                }
            }
            &--sell {
                &::before {
                    @include sprite("icon-sell-sm");
                }
            }
            &--buy {
                &::before {
                    @include sprite("icon-buy-sm");
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__content {
            padding: 50px;
        }

        &__icon {
            width: 90px;
            height: 90px;

            &--rent-to {
                &::before {
                    @include sprite("rent-to");
                }
            }
            &--rent-from {
                &::before {
                    @include sprite("rent-from");
                }
            }
            &--sell {
                &::before {
                    @include sprite("icon-sell");
                }
            }
            &--buy {
                &::before {
                    @include sprite("icon-buy");
                }
            }
        }

        &__title {
            font-size: 2rem;
        }
    }

    @media screen and (min-width: 1520px) {
        &--small {

            .link-card__img {
                min-width: 100%;
            }
        }
    }
}

.link-card-group {
    &__container {
        @include make-container-max-widths();
        @include make-container();
        position: relative;
    }

    &__item {
        padding-top: 5px;
        padding-bottom: 5px;

        .link-card {
            margin-bottom: 0;
        }
    }

    &__btn {
        width: 85px;
        height: 85px;
        display: block;
        vertical-align: middle;
        position: relative;
        border-radius: 50%;
        background-color: $color-accent;
        box-shadow: 0 0 0 10px #fff;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include media-breakpoint-down(md) {
        &__btn {
            display: block;
            margin: 20px auto 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__row {
            @include make-row();
            justify-content: center;
        }

        &__btn {
            transform: translateY(-50%);
            position: relative;
            z-index: 20;
        }
        
        &__item {
            @include make-col-ready();
            @include make-col(12);
            padding-top: 10px;
            padding-bottom: 10px;

            &:nth-last-child(2) {
                .link-card {
                    &::after {
                        background-image: radial-gradient(circle at bottom center, rgba(255,255,255,.9) 20%, rgba(255,255,255,0) 80%);
                    }
                }
                .link-card__content {
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &:nth-child(even) {
                .link-card {
                    &::after {
                        background-image: radial-gradient(circle at bottom right, rgba(255,255,255,.9) 20%, rgba(255,255,255,0) 80%);
                    }
                }
                .link-card__content {
                    right: 0;
                    left: auto;
                    text-align: right;
                    transform: none;
                }
            }

            &:nth-child(4) + .link-card-group__btn,
            &:nth-child(3) + .link-card-group__btn {

                z-index: 80;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__btn::before {
            @include sprite("icon-phone-sm");
        }
    }
    
    @include media-breakpoint-up(xl) {
        &__item {
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &__btn {
            width: 140px;
            height: 140px;

            &::before {
                @include sprite("icon-phone");
            }
        }
    }

    @media screen and (min-width: 1520px) {
        &__container {
            max-width: 1520px;
        }
    }
}