.link-icon {
    margin-left: 24px;
    display: inline-block;
    position: relative;
    color: $body-font-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .1s;
    &::before {
        content: "";
        margin-top: -8px;
        margin-left: -24px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    &:active,
    &:hover {
        border-bottom-color: $color-accent;
    }
}

.link-icon--inst {
    &::before {
        @include sprite("inst");
    }

    &:active::before,
    &:hover::before {
        @include sprite("inst-hover");
    }
}

.link-icon--login {
    &::before {
        @include sprite("key");
    }

    &:active::before,
    &:hover::before {
        @include sprite("key-hover");
    }
}

.link-icon--email {
    &::before {
        @include sprite("envelope");
    }

    &:active::before,
    &:hover::before {
        @include sprite("envelope-hover");
    }
}

.link-icon--fav {
    &::before {
        @include sprite("heart");
    }
    &.active,
    &:active::before,
    &:hover::before {
        @include sprite("heart-hover");
    }
}