.lk-data {
	&__label {
		display: inline-block;
		margin-bottom: 8px;
        padding-top: 10px;
		font-size: 1.125rem;
		color: $body-font-color;
	}
	&__id {
		margin-top: 0.4rem;
		font-family: $font-family-ptserif;
	}
	&__date {
		margin-top: 1.2rem;
		font-size: 0.8125rem;
		color: $color-gray;
	}
	&__photo {
		display: block;
		margin: 0 auto .4rem;
	}
}