.location {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e7e7e7;
    font-family: $font-family-ptserif;
    font-size: 0.9375rem;

    & > [class^=icon] {
        flex-shrink: 0;
        &:first-child {
            margin-right: 8px;
        }
    }
    &__addon {
        padding-left: 5px;
        margin-left: auto;
    }

    @include media-breakpoint-down(md) {
        align-items: flex-start;
    }
    @include media-breakpoint-up(md) {
        padding: 1.25rem 0;
    }
}