.map {
    height: calc(100% - 46px);
    position: relative;

    #map {
        & > ymaps {
            height: 100% !important;
            & > ymaps {
                height: 100% !important;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        height: 650px;
    }
}
.polygon {
    &:hover {
        cursor: crosshair;
    }
    &__controls {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
    }
    @include media-breakpoint-up(md) {
        &__controls {
            left: 25px;
            transform: none;
        }
    }
}