.modal {
    .text-label {
        color: #7e7e7e;
    }
    &-dialog {
        max-width: 740px;
        pointer-events: auto;
    }
    &-md {
        .modal-dialog {
            max-width: 550px;
        }
    }
    &__content {
        background: #fff;
    }
    &__title {
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        font-size: 1.375rem;
        font-weight: normal;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 66px;
            height: 2px;
            background-color: $color-accent;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__header,
    &__body,
    &__footer {
        padding-left: 18px;
        padding-right: 18px;
        p {
            margin-top: 1.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__header {
        padding-top: 36px;
        padding-bottom: 18px;
        position: relative;
        .close {
            padding: 0;
            position: absolute;
            top: 2px;
            right: 10px;
            border: 0;
            background-color: rgba(0,0,0,0);
            color: $color-accent;
            font-size: 28px;
            font-weight: 600;
        }
    }
    &__body {
    }
    &__footer {
        padding-top: 18px;
        padding-bottom: 36px;
        justify-content: flex-start;
    }

    @include media-breakpoint-up(md) {
        &__header,
        &__body,
        &__footer {
            padding-left: 36px;
            padding-right: 36px;
        }
        &__header {
            padding-top: 40px;
            padding-bottom: 36px;
        }
        &__body {

        }
        &__footer {
            padding-top: 26px;
            padding-bottom: 40px;
        }
    }
}