.nav-list {
    background-color: #f7f8f8;
    position: relative;
    &__menu {
        list-style: none;
        margin: 0;
        padding: 1.625rem 1.5rem;
        position: relative;
    }
    a {
        display: inline-block;
        color: inherit;
        font-size: inherit;
        text-decoration: none;
        transition: .3s;
    }
    &__inner {
        padding: 0;
        margin: .7rem 0 .7rem;
        list-style: none;
    }
    &__item,
    &__item-inner {
        color: #2d2d2d;
        &:hover {
            color: #7e7e7e;
        }
    }
    &__item {
        width: 100%;
        font-size: 1.125rem;
        &.active {
            color: #7e7e7e;
        }
        &:not(:last-child) {
            margin-bottom: .6rem;
        }
    }
    &__item-inner {
        font-size: 1rem;
    }

    &__toggler {
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        border: 0;
        background: transparent;
        z-index: 10;
        color: $color-accent;
        right: 0;

        &::after {
            content: '\25BC';
            display: inline-block;
            vertical-align: middle;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: 2rem;
        &__menu {
            display: flex;
            flex-wrap: wrap;
        }

        &__item  {
            display: none;
            order: 1;
            &.active {
                order: 0;
                display: block;
            }
            & > a {
                margin-bottom: 0.5rem;
            }
        }
        &__item-inner {
            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__toggler {
            display: none;
        }
        &__inner {
            padding-left: 1.25rem;
            border-left: 3px solid $color-accent;
        }
        &__item,
        &__item-inner {
            &:not(:last-child) {
                margin-bottom: .6rem;
            }
        }
        &__item {
            display: block !important;
        }
    }
}