.order {
    font-size: 1.125rem;
    font-family: $font-family-ptserif;
    margin: 1.125rem 0;

    .input-check {
        label {
            line-height: 1.3;
            display: flex;
            align-items: center;
        }
    }

    &__data {
        padding: 1rem 0.875rem;
        border-left: 8px solid $color-accent;
        background: #f4f4f4;
        color: #7e7e7e;
    }

    &__check {
        label {
            color: $body-font-color;
        }
    }

    &__description {
        position: relative;
        padding-left: 14px;

        &::before {
            content: "";
            width: 3px;
            height: 1.2777777777777777em;
            display: block;
            position: absolute;
            left: 0;
            top: -1px;
            background-color: $color-accent;
        }

        .ol,
        .ul {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__check {
            margin: 0.625rem 0;
        }
        &__description {
            margin-top: 0.5rem;
        }
    }
    @include media-breakpoint-up(md) {
        width: 100%;
        display: flex;
        &__check,
        &__data {
            @include make-col-ready();
        }
        &__check {
            max-width: 200px;
            padding-left: 0;
            padding-top: 1.875rem;
        }
        &__data {
            padding-left: 2rem;
        }
    }

    @include media-breakpoint-up(lg) {
        &__data {
            padding: 2rem;
        }
        &__check {
            max-width: 260px;
        }
    }
}

.order-form {
    &__submit {
        @extend .btn;
        @extend .btn-default;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include media-breakpoint-up(md) {
        &__submit {
            margin-left: 200px;
        }
    }
    @include media-breakpoint-up(lg) {
        &__submit {
            margin-left: 260px;
        }
    }
}