.page-header {
    .link-icon {
        text-decoration: none;
    }
    &__container {
        @include make-container();
        @include make-container-max-widths();
    }
    
    &__top {
        padding: 16px 0;
        border-bottom: 1px solid $border-color;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;

            li {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &__tel {
        margin-top: 2px;
        margin-right: 45px;
        text-decoration: none;
        color: $body-font-color;
        font-family: $font-family-ptserif;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .1s;
        &:hover {
            border-bottom-color: $color-accent;
        }
    }

    &__main {
        padding: 10px 0;
        height: 125px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;
        position: relative;
        z-index: 100;
    }

    &__menu {
        a {
            text-decoration: none;
            color: $body-font-color;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom-color: $color-accent;
            }
        }
    }

    &__search {
        input {
            height: 30px;
            font-size: 15px;
        }
    }

    @include media-breakpoint-down(sm) {
        .link-icon {
            font-size: 0;
            margin: 0;
            &::before {
                margin: 0;
                position: static;
            }
        }
        &__logo {
            max-width: 154px;
        }

        &__top {
            &__list {
                li:not(:first-child) {
                    margin-left: 28px;
                }
            }
        }

        &__menu {
            display: none;
        }

        &__search {
            order: -1;
        }
    }

    @include media-breakpoint-up(md) {
        &__logo {
            max-width: 190px;
        }

        &__top {
            &__list {
                li:not(:first-child) {
                    margin-left: 45px;
                }
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;

            &__item {
                margin: 0 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__search {
            flex-grow: 1;
            
            .search-input {
                width: 100%;
                max-width: 220px;
                margin: 0 auto;
            }

            .btn-search {
                display: none;
            }
        }

        &__dropdown {
            margin-left: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__menu {
            &__item {
                font-size: 1.125rem;
            }
        }

        &__dropdown {
            margin-left: 45px;
        }

        &__search {
            .search-input {
                max-width: 360px;
            }
        }
    }

    @media screen and (min-width: 1520px) {
        &__container {
            max-width: $container-max-max-width;
        }
    }
}