.page-footer {
    font-size: 15px;
    &__container {
        @include make-container();
        @include make-container-max-widths();
    }

    &__copyright {
        font-family: $font-family-ptserif;
    }

    &__links {
        text-align: center;
    }

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
        text-align: center;

        &__pixelplus {
            .pixelplus {
                margin: 0 auto;
            }
        }

        &__copyright {
            margin-bottom: 15px;
        }

        &__links {
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 50px 0;
        &__row {
            @include make-row();
            align-items: center;
        }

        &__links,
        &__copyright,
        &__pixelplus {
            @include make-col-ready();
            @include make-col(8);
        }

        &__links {
            padding: 0;
        }

        &__pixelplus {
            .pixelplus {
                width: 240px;
                margin-left: auto;
            }
        }
    }

    @media screen and (min-width: 1520px) {
        &__container {
            max-width: $container-max-max-width;
        }
    }
}