.pane {
    margin: 20px 0;

    // .row {
    //     margin-left: -8px;
    //     margin-right: -8px;
    // }

    // [class^=col] {
    //     padding-left: 8px;
    //     padding-right: 8px;
    // }

    .input-radio,
    .input-check  {
        margin-bottom: 0;
        padding: 6.5px 0;
    }
    &__title {
        margin: 0.5rem 0 1rem;
        font-size: 1.625rem;
    }
    &__label {
        margin-bottom: 8px;
        padding-top: 10px;
        display: inline-block;
        font-size: 1.125rem;
        color: $body-font-color;
    }
    &__col-label,
    &__col-label-md-auto,
    &__col-label-sm-auto {
        @include make-col-ready();
    }
    
    &__check-form-group,
    &__text-form-group {
        margin-bottom: 0.5rem;
    }
    
    &__submit {
        margin-top: 2rem;
    }

    &__gallery {
        padding: 1rem 1.4rem;
        background-color: #e5e6e7;
        
        p {
            margin-top: 0;
            color: #7e7e7e;
        }
    }
    
    &__gallery-upload-btn {
        margin-top: 2rem;
    }

    &--login {
        margin-bottom: 45px;
    }
    
    @include media-breakpoint-down(sm) {
        &__label {
            margin-bottom: 0.5rem;
        }
        &__submit {
            text-align: center;
        }
        &__col-label-sm-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
    }
    @include media-breakpoint-up(sm) {
        &__input-num {
            width: 120px;
        }
    }
    @include media-breakpoint-up(md) {
        // margin: 20px 0;
        &--gray {
            background-color: #f4f4f4;
            padding: 22px 38px 32px;
            // padding-left: 38px;
            // padding-right: 38px;
        }
        &__col-label,
        &__col-label-sm-auto {
            max-width: 220px;
        }
        &__text-form-group {
            .row {
                flex-wrap: nowrap;
            }
        }
        &__select,
        &__input-text {
            width: 344px;
            max-width: 100%;
            & + p {
                margin: .2rem 0;
            }
        }
        &__gallery {
            padding: 1.5rem 1.8rem;
            background-color: #e5e6e7;
        }

        &__title {
            margin: 0.5rem 0 1.5rem;
        }
    }
    @include media-breakpoint-between(md, lg) {
        &__col-label-md-auto {
            width: 100%;
            max-width: 220px;
        }
    }
    @include media-breakpoint-up(xl) {
        &__col-label-md-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }

        .col-xl-9 .col-xl-12 .custom-select {
            margin-left: -2%;
        }
    }
}

.map {
    &__label {
        display: inline-block;
        color: $body-font-color;
        font-size: 1.125rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    @include media-breakpoint-down(md) {
        &__label {
            margin-bottom: 1rem;
        }
    }
}