.pay-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;

    &__item {
        padding: 0 8px;
        flex-grow: 1;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}