.search-result {
	@include media-breakpoint-down(sm) {
		&__item {
			margin-bottom: 2rem;
		}
	}
	
	@include media-breakpoint-up(md) {
		padding: 12px;
		background-color: $page-block-bg-color;
		.flat-data {
			padding: 0 .5rem;
		}
		&__item {
			padding: 1.5rem 1rem;
			background-color: #fff;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		&__item {
			padding: 1.5rem 0.625rem;
		}
	}
}