.show-phone {
    vertical-align: middle;
    &__phone,
    span {
        display: none;
        font-family: $font-family-ptserif;
    }
    &__phone {
        margin-right: 9px;
        vertical-align: middle;
        font-size: 1.25rem;
    }
}