.test-slider {
    // max-width: 500px;
    margin: 0 auto;
    outline: 1px solid red;
    &__item {
        img {
            display: block;
            max-width: 100%;
        }
        &-inner {

        }
    }
}