.thumbs {
    display: flex;
    align-items: center;

    &__item {
        padding: 0 3px;
    }
    
    @include media-breakpoint-up(md) {
        &__item {
            padding: 0 6px;
        }
    }
}