*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
    background-color: $body-bg-color;
	color: $body-font-color;
    font-family: $font-family-georgia;
}

h1,
.h1 {
    width: 100%;
    margin: 0 0 2.125rem;
    font-size: 1.375rem;
    font-weight: normal;
}

h2,
.h2 {
    line-height: 1;
}

.swiper-slide {
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.auth-footer {
    font-size: 1rem;
    .input-check {
        font-size: 1rem;
    }
}

.page {
    &-wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    &-content {
        width: 100%;
        max-width: 1550px;
        margin: 0 auto;
        line-height: 1.125;
        p {
            margin: 1.575rem 0;
            font-size: 1.125rem;
            font-family: $font-family-ptserif;
            line-height: 1.4;
        }
        a {
            color: #000;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-row {
        @include make-row();
        .row {
            // width: 100%;
        }
        .breadcrumb {
            @include make-col-ready();
        }
    }
    &-main,
    &-aside {
        @include make-col-ready();
    }
    &-footer {
        margin-top: auto;
    }
    &-title {
        width: 100%;
        margin: 0 0 1.8rem;
        padding-bottom: 24px;
        font-size: 1.375rem;
        font-weight: normal;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 66px;
            height: 2px;
            background-color: $color-accent;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &-block {
        .accordion {
            margin: 0;
        }
        & + .page-block {
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 1rem;
            font-size: 1.375rem;
        }
        &__accordion-content {
            padding-top: 1rem;
        }
    }

    @include media-breakpoint-up(md) {
        &-block {
            padding: 1.2rem 1.25rem;
            background-color: #f4f5f5;
            &__title {
                margin-bottom: 1.5rem;
                font-size: 1.625rem;
            }
            &__accordion-content {
                padding-top: 1.5rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &-title {
            text-align: center;
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    @include media-breakpoint-down(lg) {
        &-main {
            order: 1;
        }
        &-row {
            .breadcrumb {
                order: 1;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &-main {
            @include make-col(19);
        }
        &-aside {
            @include make-col(5);
        }
    }

    @media screen and (max-width: 1520px) {
        &-block {
            .row {
                margin-left: -4px;
                margin-right: -4px;
            }

            [class^=col] {
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }

    @media screen and (min-width: 1520px) {
        &-block {
            padding: 2rem;
        }
    }
}

button.page-block__title {
    margin-bottom: 0;
    padding: 0;
    background-color:rgba(0,0,0,0);
    border: 0;
    text-align: left;
    border-bottom: 2px dotted $color-accent;
    &:hover {
        border-bottom-color: transparent;
    }
}


img {
    height: auto;
}

.logo {
    display: block;
    img {
        max-width: 100%;
    }
}

.pixelplus {
    width: 240px;
    img {
        float: left;
        margin-right: 9px !important;
        margin-top: 3px;
    }

    a {
        color: $body-font-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @include media-breakpoint-down(md) {
        width: 196px !important;
        img {
            display: none;
        }
    }
}

.link {
    padding: 0;
    display: inline-block;
    text-decoration: none;
    color: $body-font-color;
    transition: .2s;
    background-color: rgba(0,0,0,0);
    border: 0;
    border-bottom: 1px solid transparent;
    
    &:hover {
        border-bottom-color: $color-accent;
    }
}

.line {
    position: relative;
    padding-bottom: 24px;
    &::after {
        content: "";
        display: inline-block;
        width: 66px;
        height: 2px;
        background-color: $color-accent;
        position: absolute;
        bottom: 0;
    }
}

.line-left {
    &::after {
        left: 0;
    }
}

.line-right {
    &::after {
        right: 0;
    }
}

.line-center {
    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.price {
    font-size: 1.5rem;
    font-family: $font-family-ptserif;
    font-weight: bold;

}

.marker {
    position: relative;
    padding-left: 14px;

    &::before {
        content: "";
        width: 3px;
        height: 1.2777777777777777em;
        display: block;
        position: absolute;
        left: 0;
        top: -1px;
        background-color: $color-accent;
    }
}

.ol {
    margin: 1rem 0;
    padding-left: 0;
    counter-reset: item;
    & > li {
        margin-bottom: .3rem;
        padding-left: 1.4rem;
        list-style-type: none;
        counter-increment: item;
        position: relative;

        &::before {
            content: counter(item) ".";
            display: inline-block;
            width: 1em;
            font-weight: bold;
            text-align: right;
            position: absolute;
            left: 0;
            top: -1px;
        }
    }
}

.error-code {
    font-family: $font-family-ptserif;
    font-size: 10.625rem;
}

.row {
    &--smaller-gap {
        margin-left: -8px;
        margin-right: -8px;
        
        [class^=col] {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

}

@media screen and (min-width: 1520px) {
    .container {
        max-width: $container-max-max-width;
    }
}