label {
    color: #7e7e7e;
}
.text-label {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 10px;
    font-size: 1.125rem;
    color: #2d2d2d;
}
fieldset {
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0);
    border: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.5rem + 2px);
    padding: .375rem 0.8rem;
    font-size: 1.125rem;
    font-family: $font-family-ptserif;
    line-height: 1.5;
    color: $body-font-color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $border-color;
    border-radius: .0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label {
    margin-bottom: 8px;
    padding-top: 10px;
    display: inline-block;
    font-size: 1.125rem;
    color: #2d2d2d;
}

textarea {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.125rem;
    font-family: $font-family-georgia;
    color: $body-font-color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $border-color;
    border-radius: .0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 0.75rem;
}

.form-submit {
    margin-top: 1.3rem;
}

.form-section {
    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }
}

.input-group {
    &-inline {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    label,
    .label {
        margin-right: 8px;
    }

    @media screen and (min-width: 1520px) {
        label,
        .label {
            margin-right: 20px;
        } 
    }
}

::-webkit-input-placeholder {
    color: #7e7e7e;
}
::-moz-placeholder {
    color: #7e7e7e;
}
:-ms-input-placeholder {
    color: #7e7e7e;
}
:-moz-placeholder {
    color: #7e7e7e;
}

.search-input {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    button[type=submit] {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 30px;
        border: 0;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: rgba(0,0,0,0);
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
            @include sprite('search');
        }
    }

    .form-control {
        border-right: 0;
    }
}

.input-check-group-inline,
.input-radio-group-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .input-radio,
    .input-check {
        margin-right: 12px;
        margin-bottom: 6.5px;

        &:last-child {
            margin-right: 0;
        }
    } 
}

.field-group {
    display: flex;
    flex-wrap: nowrap;

    // .custom-select {
    //     max-width: 190px;
    // }

    .custom-select,
    .form-control {
        font-size: 1rem;
    }
}

.form-hidden-container {
    display: none;

    .pane:first-child {
        margin-top: 0;
    }
}