.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-gray {
    color: $color-gray;
}
.show-xl {
    display: none;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
@include media-breakpoint-up(xl) {
    .show-xl {
        display: block;
    }
}

@include media-breakpoint-down(sm) {
    .hide-sm {
        display: none;
    }
    .sm-order-last {
        order: 1;
    }
}

@include media-breakpoint-up(md) {
    .text-md-right {
        text-align: right;
    }
}

@include media-breakpoint-between(md, lg) {
    .ml-auto-md {
        margin-left: auto;
    }
}

@media screen and (min-width: 1520px) {
    .col-xxl-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.66667%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xxl-14 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.33333%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.collapse:not(.show) {
    display: none;
}

.hidden {
    display: none !important;
}