$sprites: (
	"destination-mark": (
		normal: (
			x: 167,
			y: 104,
			width: 22,
			height: 25,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 208,
			width: 44,
			height: 50,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"dropdown-menu-close": (
		normal: (
			x: 93,
			y: 95,
			width: 25,
			height: 15,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 186,
			y: 190,
			width: 50,
			height: 30,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"envelope-hover": (
		normal: (
			x: 99,
			y: 152,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 198,
			y: 304,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"envelope": (
		normal: (
			x: 81,
			y: 152,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 162,
			y: 304,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"heart-hover": (
		normal: (
			x: 154,
			y: 152,
			width: 17,
			height: 15,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 308,
			y: 304,
			width: 34,
			height: 30,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"heart": (
		normal: (
			x: 135,
			y: 152,
			width: 17,
			height: 15,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 270,
			y: 304,
			width: 34,
			height: 30,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-buy-sm": (
		normal: (
			x: 113,
			y: 112,
			width: 34,
			height: 32,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 226,
			y: 224,
			width: 68,
			height: 64,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-buy": (
		normal: (
			x: 121,
			y: 0,
			width: 44,
			height: 42,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 242,
			y: 0,
			width: 88,
			height: 84,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-phone-sm": (
		normal: (
			x: 121,
			y: 44,
			width: 40,
			height: 41,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 242,
			y: 88,
			width: 80,
			height: 82,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-phone": (
		normal: (
			x: 0,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 0,
			y: 0,
			width: 128,
			height: 128,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-sell-sm": (
		normal: (
			x: 78,
			y: 112,
			width: 33,
			height: 33,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 156,
			y: 224,
			width: 66,
			height: 66,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"icon-sell": (
		normal: (
			x: 47,
			y: 66,
			width: 44,
			height: 44,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 94,
			y: 132,
			width: 88,
			height: 88,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"input-check": (
		normal: (
			x: 66,
			y: 52,
			width: 16,
			height: 12,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 132,
			y: 104,
			width: 32,
			height: 24,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"inst-hover": (
		normal: (
			x: 45,
			y: 152,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 90,
			y: 304,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"inst": (
		normal: (
			x: 63,
			y: 152,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 126,
			y: 304,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"key-hover": (
		normal: (
			x: 117,
			y: 152,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 234,
			y: 304,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"key": (
		normal: (
			x: 149,
			y: 112,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 298,
			y: 224,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"menu-toggle": (
		normal: (
			x: 167,
			y: 131,
			width: 24,
			height: 18,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 262,
			width: 48,
			height: 36,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"metro-red": (
		normal: (
			x: 19,
			y: 152,
			width: 24,
			height: 16,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 38,
			y: 304,
			width: 48,
			height: 32,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"rent-from-sm": (
		normal: (
			x: 42,
			y: 112,
			width: 34,
			height: 33,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 84,
			y: 224,
			width: 68,
			height: 66,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"rent-from": (
		normal: (
			x: 0,
			y: 66,
			width: 45,
			height: 44,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 0,
			y: 132,
			width: 90,
			height: 88,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"rent-to-sm": (
		normal: (
			x: 0,
			y: 112,
			width: 40,
			height: 38,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 0,
			y: 224,
			width: 80,
			height: 76,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"rent-to": (
		normal: (
			x: 66,
			y: 0,
			width: 53,
			height: 50,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 132,
			y: 0,
			width: 106,
			height: 100,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"search-hover": (
		normal: (
			x: 121,
			y: 87,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 242,
			y: 174,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"search": (
		normal: (
			x: 143,
			y: 87,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 286,
			y: 174,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"swiper-btn-next": (
		normal: (
			x: 0,
			y: 152,
			width: 17,
			height: 27,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 0,
			y: 304,
			width: 34,
			height: 54,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"swiper-btn-prev": (
		normal: (
			x: 93,
			y: 66,
			width: 17,
			height: 27,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 186,
			y: 132,
			width: 34,
			height: 54,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"thumbs-down-sm": (
		normal: (
			x: 167,
			y: 79,
			width: 27,
			height: 23,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 158,
			width: 54,
			height: 46,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"thumbs-down": (
		normal: (
			x: 167,
			y: 0,
			width: 30,
			height: 25,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 0,
			width: 60,
			height: 50,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"thumbs-up-sm": (
		normal: (
			x: 167,
			y: 54,
			width: 27,
			height: 23,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 108,
			width: 54,
			height: 46,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
	"thumbs-up": (
		normal: (
			x: 167,
			y: 27,
			width: 30,
			height: 25,
			image: "sprites.png",
			total_width: 197,
			total_height: 179,
		),
		retina: (
			x: 334,
			y: 54,
			width: 60,
			height: 50,
			image: "sprites@2x.png",
			total_width: 394,
			total_height: 358,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
