// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-gray: #7e7e7e;

$color-primary: #118b7c;
$color-accent: #ffed00;
$color-accent-orange: #fd5e20;

$body-font-color: #2d2d2d;
$body-bg-color: #fff;
$border-color: #e5e6e7;
$page-block-bg-color: #f4f4f4;

// FONTS
$font-family-georgia: "Georgia", serif;
$font-family-ptserif: "PT Serif", serif;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1520px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 960px,
  xl: 1200px,
  xxl: 1520px
) !default;
$container-max-max-width: 1520px;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                24;
$grid-gutter-width:           30px;


// Modal

// Padding applied to the modal body
$modal-inner-padding:               1rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

$modal-content-bg:                  #fff;
$modal-content-border-color:        $color-primary;
$modal-content-border-width:        2px;
$modal-content-border-radius:       0;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba(#000, .5);
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba(#000, .5);

$modal-backdrop-bg:                 #000;
$modal-backdrop-opacity:            .5;
$modal-header-border-color:         $modal-content-bg;
$modal-footer-border-color:         $modal-content-bg;
$modal-header-border-width:         0;
$modal-footer-border-width:         0;
$modal-header-padding:              1rem;

$modal-lg:                          800px;
$modal-md:                          480px;
$modal-sm:                          300px;

$modal-transition:                  transform .3s ease-out;

// Breadcrumbs

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     $body-bg-color !default;
$breadcrumb-divider-color:          $color-accent !default;
$breadcrumb-active-color:           #999 !default;
$breadcrumb-divider:                "." !default;

$breadcrumb-border-radius:          0;